@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold.woff') format('woff'),
         url('../fonts/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}



html * {
  box-sizing: border-box; 
   cursor: url(../img/cur.png), auto;
}

* {
  box-sizing: border-box; }


body {
  margin: 0;
  overflow:auto;
   cursor: url(../img/cur.png), auto;
}

::selection{background-color: #f9f9f9;}

html {
  font-family: 'League Spartan', helvetica, san-serif;
  font-size: 100%;
  color: rgba(12, 12, 10, 0.8);
  font-weight: 400; }

img {
  max-width: 100%;
  display: block; }

/* --------------------------------------------------------*/
h1{
    font-size:4vw;
}
h1, h2, h3 {
  margin: 0;
  /*text-transform: uppercase;*/
  line-height: 1.2; }

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.1rem 0 0.2rem;
  line-height: 1.2; }

a {
  color: rgba(12, 12, 10, 0.8);
  text-decoration: none; 
 cursor: url(../img/cur.png), auto;}

a:hover {
  color: #bc4e4a; 
  cursor: url(../img/curlink.png), auto;
  transition: 2s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; }

ul > li {
  padding: 0; }

ol {
  padding: 0;
  margin: 0; }

:focus {
  outline: 1px solid #bc4e4a; }

/* --------------------------------------------------------*/
header {
  background: #fff;
  min-height: 100vh;
  padding: 5rem 5vw 2rem; }
  header h1 {
    font-size: calc(1.3rem + 1.8vw);
    margin: 0;
    line-height: 1.2em; }
  header p {
    margin: 2rem 0 0; }
  header ul {
    margin: 0; }
  header p,
  header a {
    color: rgba(38, 37, 32, 0.7); }
  header a {
    border-bottom: 1px solid rgba(169, 169, 169, 0.79); }

@supports (display: grid) {
  header {
    display: flex;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 12rem; }
    header .header-wrapper {
      width: 66vw;
      display: grid;
      margin:auto;
      margin-top: 50px;
      grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
      grid-template-rows: auto 1fr 1fr auto auto;
      grid-gap: 1rem;
      //transform: rotate(45deg); }
    header h1:nth-child(1) {
      grid-column: 1 / 4;
      text-align: right; }
    header h1:nth-child(2) {
      color: #bc4e4a;
      writing-mode:vertical-lr;
      grid-column: 3 / 4;
      grid-row: 2 / 5;
      justify-self: end;
      margin-top: -10px;
      margin-right: -10px; }
    header p {
      margin: 0;
      color: rgba(12, 12, 10, 0.8); }
    header a {
      border-bottom: none;
      text-transform: uppercase;
      color: rgba(12, 12, 10, 0.8);
      font-weight: 700; }
    header .demo-list {
      grid-column: 1 / 3;
      grid-row: 4 / span 2;
      font-weight: 700;
      line-height: 1.2;
      align-self: end; }
      header .demo-list li {
        border-top: 5px solid rgba(12, 12, 10, 0.8);
        text-align: left;
        padding: 2px 0; }
      header .demo-list li:last-child {
        border-bottom: 5px solid rgba(12, 12, 10, 0.8); }
      header .demo-list p {
        padding: 2px 0; }
    header .follow-links {
      grid-column: 3 / 6;
      grid-row: 5;
      font-size: 0.9rem;
      border-bottom: 25px solid #bc4e4a;
      align-self: start;
      justify-content: end;
      line-height: 1.3;
      padding-bottom: 5px;
      font-weight: 400; }
    header .workshop-link {
      border-top: 5px solid rgba(12, 12, 10, 0.8);
      border-bottom: 5px solid rgba(12, 12, 10, 0.8);
      font-weight: 700;
      grid-row: 3;
      grid-column: 4 / 6;
      align-self: end; }
    @media (max-width: 820px) {
      header {
        display: flex;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem; }
        header .header-wrapper {
          transform: rotate(0); }
        header h1:nth-child(2) {
          margin-top: -5px; }
        header .workshop-link {
          margin-left: 1rem;
          align-self: start; }
        header .follow-links {
          border-bottom: 20px solid #bc4e4a; } }
    @media (max-width: 700px) {
      header .demo-list {
        grid-column: 3 / -1;
        grid-row: 6; } }
    @media (max-width: 500px) {
      header .header-wrapper {
        width: 66vw;
        grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
        grid-template-rows: auto auto  auto auto; 
        margin-top:0px;
      }
      header h1:nth-child(1) {
        grid-column: 1 / -1; }
      header h1:nth-child(2) {
        grid-column: 5;
        grid-row: 2 / 4;
        margin-right: -5px; }
      header .follow-links {
        grid-column: 1 / 4;
        grid-row: 3;
        border-bottom: 10px solid #bc4e4a; }
      header .demo-list {
        grid-column: 1 / -1;
        grid-row: 4; }
      header .workshop-link {
        grid-column: 1 / -1;
        grid-row: 5;
        margin-left: 0; } }
    @media (min-width: 1000px) {
      header {
        padding-bottom: 15rem; } }
    @media (min-width: 1300px) {
      header {
        padding-bottom: 25rem; } }
    @media (min-width: 1800px) {
      header {
        padding-bottom: 30rem; } } }

nav,
.bar {
  background: #bc4e4a;
  padding: 1.04rem 5vw 0.9rem calc(5vw + 1.2rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.85rem; }
  nav ol,
  .bar ol {
    columns: 180px;
    column-gap: 4rem; }
    nav ol li,
    .bar ol li {
      text-align: left;
      margin: 0;
      padding: 0;
      break-inside: avoid; }

main > section {
  padding: 4rem 5vw 3rem; }
  main > section h3 {
    font-size: 1.2rem;
    margin: 1rem 0 -1rem; }
  main > section h3 > ul {
    margin-left: 2rem; }
  main > section > ul.demo-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 3rem; }
    main > section > ul.demo-list li > a {
      display: flex;
      flex-direction: column; }
      main > section > ul.demo-list li > a img {
        order: -1; }
    main > section > ul.demo-list li > p {
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      color: rgba(149, 149, 128, 0.8); }
      main > section > ul.demo-list li > p a {
        color: rgba(149, 149, 128, 0.8); }
      main > section > ul.demo-list li > p a::before {
        content: '['; }
      main > section > ul.demo-list li > p a::after {
        content: ']'; }
  main > section img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    display: block;
    margin-bottom: 1rem; }
  main > section > footer {
    display: flex;
    color: rgba(149, 149, 128, 0.8);
    font-size: 0.85rem; }
    main > section > footer div {
      flex: 1; }
    main > section > footer h4 {
      font-weight: 300;
      margin: 0.25rem 0; }
    main > section > footer ul {
      margin: 0;
      list-style: square;
      padding: 0 0 0 1rem; }
    main > section > footer li {
      margin: 0;
      padding: 0; }
    main > section > footer a {
      color: inherit; }

section:nth-child(even) {
  background: #f0efeb;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

section:nth-child(odd) {
  background: #fbf9f6;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2); }

.note {
  margin: 0.3rem 0 0;
  font-size: 0.85rem;
  font-style: italic; }
  .note a {
    border-bottom: 1px dotted #9C9C9C; }

main > footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 3rem; }
  main > footer a {
    color: #eee;
    text-decoration: underline; }
  main > footer p {
    margin-bottom: 0; }
  main > footer ul {
    margin: 0; }


.colors{
   -webkit-animation:colorchange 60s infinite alternate;
}

h1.colors.heading-line::after {
    -webkit-animation:colorchange 60s infinite alternate;
}

@keyframes colorchange {
    0% {
        background-color:#fff;
        color:#000;
    }
    25% {
        background-color:#f6f3ea;
        color:#000;
    }
    50% {
        background-color:#9c9c9a;
        color:#fff;
    }
    50% {
        background-color:#121212;
        color:#fff;
    }
    100% {
        background-color:#f6f3ea;
        color:#000;
    }
}

span.glitch {
      position: relative;
      animation: glitch-animation 2s infinite linear alternate-reverse;
    }
 
    span.glitch:before {
      animation: glitch-animation-2 3s infinite linear alternate-reverse;
      background: black;
      clip: rect( 0, 900px, 0, 0 );
      color: white;
      content: attr( data-text );
      left: -2px;
      overflow: hidden;
      position: absolute;
      text-shadow: 1px 0 blue;
      top: 0;
    }
    /* Expanded Animations */
    @keyframes glitch-animation {
      0% {
        clip: rect(42px, 9999px, 44px, 0);
      }
      5% {
        clip: rect(12px, 9999px, 59px, 0);
      }
      10% {
        clip: rect(48px, 9999px, 29px, 0);
      }
      15.0% {
        clip: rect(42px, 9999px, 73px, 0);
      }
      20% {
        clip: rect(63px, 9999px, 27px, 0);
      }
      25% {
        clip: rect(34px, 9999px, 55px, 0);
      }
      30.0% {
        clip: rect(86px, 9999px, 73px, 0);
      }
      35% {
        clip: rect(20px, 9999px, 20px, 0);
      }
      40% {
        clip: rect(26px, 9999px, 60px, 0);
      }
      45% {
        clip: rect(25px, 9999px, 66px, 0);
      }
      50% {
        clip: rect(57px, 9999px, 98px, 0);
      }
      55.0% {
        clip: rect(5px, 9999px, 46px, 0);
      }
      60.0% {
        clip: rect(82px, 9999px, 31px, 0);
      }
      65% {
        clip: rect(54px, 9999px, 27px, 0);
      }
      70% {
        clip: rect(28px, 9999px, 99px, 0);
      }
      75% {
        clip: rect(45px, 9999px, 69px, 0);
      }
      80% {
        clip: rect(23px, 9999px, 85px, 0);
      }
      85.0% {
        clip: rect(54px, 9999px, 84px, 0);
      }
      90% {
        clip: rect(45px, 9999px, 47px, 0);
      }
      95% {
        clip: rect(37px, 9999px, 20px, 0);
      }
      100% {
        clip: rect(4px, 9999px, 91px, 0);
      }
    }
    @keyframes glitch-animation-2 {
      0% {
        clip: rect(65px, 9999px, 100px, 0);
      }
      5% {
        clip: rect(52px, 9999px, 74px, 0);
      }
      10% {
        clip: rect(79px, 9999px, 85px, 0);
      }
      15.0% {
        clip: rect(75px, 9999px, 5px, 0);
      }
      20% {
        clip: rect(67px, 9999px, 61px, 0);
      }
      25% {
        clip: rect(14px, 9999px, 79px, 0);
      }
      30.0% {
        clip: rect(1px, 9999px, 66px, 0);
      }
      35% {
        clip: rect(86px, 9999px, 30px, 0);
      }
      40% {
        clip: rect(23px, 9999px, 98px, 0);
      }
      45% {
        clip: rect(85px, 9999px, 72px, 0);
      }
      50% {
        clip: rect(71px, 9999px, 75px, 0);
      }
      55.0% {
        clip: rect(2px, 9999px, 48px, 0);
      }
      60.0% {
        clip: rect(30px, 9999px, 16px, 0);
      }
      65% {
        clip: rect(59px, 9999px, 50px, 0);
      }
      70% {
        clip: rect(41px, 9999px, 62px, 0);
      }
      75% {
        clip: rect(2px, 9999px, 82px, 0);
      }
      80% {
        clip: rect(47px, 9999px, 73px, 0);
      }
      85.0% {
        clip: rect(3px, 9999px, 27px, 0);
      }
      90% {
        clip: rect(26px, 9999px, 55px, 0);
      }
      95% {
        clip: rect(42px, 9999px, 97px, 0);
      }
      100% {
        clip: rect(38px, 9999px, 49px, 0);
      }
    }
 
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
}

.background span {
    width: 41vmin;
    height: 41vmin;
    border-radius: 41vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #eae4f3;
    top: 56%;
    left: 11%;
    animation-duration: 11s;
    animation-delay: -38s;
    transform-origin: 20vw -24vh;
    box-shadow: -82vmin 0 11.203905642087923vmin currentColor;
}
.background span:nth-child(1) {
    color: #f0f0f0;
    top: 83%;
    left: 52%;
    animation-duration: 9s;
    animation-delay: -33s;
    transform-origin: -23vw -21vh;
    box-shadow: 82vmin 0 10.807378366203013vmin currentColor;
}
.background span:nth-child(2) {
    color: #f0f0f0;
    top: 91%;
    left: 12%;
    animation-duration: 37s;
    animation-delay: -19s;
    transform-origin: -23vw 3vh;
    box-shadow: 82vmin 0 10.474876035792924vmin currentColor;
}
.background span:nth-child(3) {
    color: #f0f0f0;
    top: 49%;
    left: 49%;
    animation-duration: 12s;
    animation-delay: -28s;
    transform-origin: 7vw 6vh;
    box-shadow: 82vmin 0 10.658538918003533vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffdddd;
    top: 46%;
    left: 89%;
    animation-duration: 10s;
    animation-delay: -46s;
    transform-origin: -12vw -10vh;
    box-shadow: -82vmin 0 10.372929045669158vmin currentColor;
}
.background span:nth-child(5) {
    color: #f0f0f0;
    top: 42%;
    left: 82%;
    animation-duration: 8s;
    animation-delay: -35s;
    transform-origin: 14vw -4vh;
    box-shadow: -82vmin 0 10.984924468172274vmin currentColor;
}
.background span:nth-child(6) {
    color: #eae4f3;
    top: 55%;
    left: 70%;
    animation-duration: 28s;
    animation-delay: -13s;
    transform-origin: -4vw -11vh;
    box-shadow: 82vmin 0 10.772865989159612vmin currentColor;
}

/*Keyframes*/
 
